version: "3.8"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: anom
      POSTGRES_PASSWORD: anompass
      POSTGRES_DB: anomdb
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    ports:
      - "5435:5432"
  qdrant:
    image: qdrant/qdrant:latest
    environment:
      QDRANT__SERVICE__HTTP_PORT: 6333
      QDRANT__SERVICE__GRPC_PORT: 6334
    volumes:
      - ./data/qdrant:/qdrant/storage
    ports:
      - "6343:6333"
      - "6344:6334"
    restart: unless-stopped
  redis:
    image: redis:7
    ports:
      - "6380:6379"
    volumes:
      - ./data/redis:/data
